<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="shortcut icon" href="http://html5-training-in-hyderabad.blogspot.com.br/favicon.ico">
  <link rel="shortcut icon" href="https://www.djangoproject.com/favicon.ico">
  <link rel="shortcut icon" href="https://alpinejs.dev/favicon.png">
  <title>Serviço</title>

  <!-- Bootstrap core CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <!-- Font-awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Alpine.js -->
  <script src="//unpkg.com/alpinejs" defer></script>
</head>
<body>
  <h1>Menu superior</h1>
  <p>
    <a href="{% url 'servico:ordem_servico_list' %}">Ordens de Serviço</a>
  </p>

  {% block content %}
    <p>Parágrafo principal.</p>
  {% endblock content %}

  {% block js %}{% endblock js %}
</body>
</html>