<!-- ordem_servico_list.html -->
{% extends "base.html" %}

{% block content %}
  <h1>Ordens de Serviço</h1>

  <a
    href="{% url 'servico:ordem_servico_create' %}"
    class="btn btn-primary"
  >Adicionar</a>

  <table class="table">
    <thead>
      <tr>
        <th>Num</th>
        <th>Cliente</th>
        <th>Situação</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          <td>{{ object.pk }}</td>
          <td>
            <a href="{% url 'servico:ordem_servico_detail' object.pk %}">{{ object.cliente }}</a>
          </td>
          <td>{{ object.get_situacao_display }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}